 
body {
    background-color: #f4f4f4;
    margin: 0;
    font-family: sans-serif;
}

p {
    margin-bottom: 20px;
    margin-top: 0;
    line-height: 1.6;
}


header {
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    border-bottom: 1px solid #eee;
}

.nav-btn {
    background-color: #ff9800;
    color: black;
    padding: 10px 25px;
    text-decoration: none;
    border-radius: 25px;
    font-weight: bold;
    margin-left: 10px;
    display: inline-block;
    border: 1px solid black;
    transition: 0.3s;
}

.nav-btn:hover {
    background-color: #e68a00;
}


.content-section {
    padding: 40px 20px;
}

.content-block {
    background-color: #ffffff;
    max-width: 1000px;
    margin: 0 auto 30px auto;
    padding: 35px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.titulo-azul {
    color: #0000ff;
    margin-bottom: 20px;
}


.historia-flex {
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: space-between;
}

.historia-flex p {
    flex: 2;
    margin: 0;
}

.historia-flex p:first-of-type {
    margin-bottom: 30px;
}

.historia-flex img {
    flex: 1;
    max-width: 400px;
    height: auto;
    border-radius: 10px;
}


.galeria-seis {
    display: grid !important; 
    grid-template-columns: repeat(3, 1fr) !important; 
    gap: 20px; 
    margin: 30px 0;
    width: 100%; 
}

.galeria-seis img {
    width: 100%;
    height: 200px; 
    object-fit: cover;
    border-radius: 8px;
}


.galeria-alternancia {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.galeria-alternancia img {
    width: 32%;
    border-radius: 8px;
}

.contacto-section {
    background-color: #004a80; 
    color: white;
    padding: 40px 10%;
    margin-top: 30px;
    border-radius: 10px;
}

.contacto-section h2 {
    color: white; 
    border-bottom: 2px solid #ffffff55;
    padding-bottom: 10px;
    margin-bottom: 20px;
}
.contacto-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
    gap: 20px;
}

.contacto-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.contacto-links a:hover {
    text-decoration: underline;
    color: #ffd700;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 10px;
}


.logo-img {
    width: 45px;
    height: auto;
}


.logo-text-wrapper {
    display: flex;
    flex-direction: column; 
    line-height: 0.9;      
}


.logo-line {
    font-weight: 700;       
    font-size: 17px;
    color: #000;          
    font-family: sans-serif; 
    letter-spacing: -0.5px;
}